<div class="" role="main">
<input type="hidden" #selection>
<div *ngIf="showPage">
  <table [cellSpacing]="0">
    <thead>
      <tr>
        <th> </th>
        <th *ngFor="let techo of header1Rev" [attr.colspan]="techo.count" style="text-align:center">{{techo.month}} - {{techo.year}}
        </th>
      </tr>
      <tr>
        <th style="z-index: 99;" class="fixed">Driver Name </th>
        <th *ngFor="let techo of headerRev">{{techo}}</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let techo of techoGraphData">
        <td class="cursorname fixed" (click)="openModal($event, 'Hello Modal', techo)">{{techo.name}}</td>
        <td *ngFor="let techo1 of techo.data">
          <img src="../../../assets/green_2.svg" alt="" *ngIf="techo1.colorcode=='green'" width="20" (click)="downloadFile(techo1.name)">
          <!-- <div class="circle red" *ngIf="techo1.colorcode=='red'"></div> -->
          <img src="../../../assets/red_1.svg" alt="" *ngIf="techo1.colorcode=='red'" width="20">

          <!-- <div class="circle gray" *ngIf="techo1.colorcode=='gray'"></div> -->
          <img src="../../../assets/grey_2.svg" alt="" *ngIf="techo1.colorcode=='gray'" width="20">
          <div class="circle blue" *ngIf="techo1.colorcode=='blue'"></div>
          <!-- <div class="circle yellow" *ngIf="techo1.colorcode=='yellow'"></div> -->
          <img src="../../../assets/yellow_2.svg" alt="" *ngIf="techo1.colorcode=='yellow'" width="20">

          <div class="circle orange" *ngIf="techo1.colorcode=='nocolor'"></div>
        </td>
        <td style="width: 0 !important;     padding: 0;opacity: 0;">
          <input class="focus" appAutoFocusDirective  type="text">
        </td>
      </tr>
    </tbody>
  </table>
</div> 
</div>