
<div class="content1" role="main">

  <input type="hidden" #selection>

  <!-- <span class="card-container" *ngIf="showPage">
    <section>
      <table>
        <thead>
          <tr>
            <th> </th>
            <th *ngFor="let techo of header1" [attr.colspan]="techo.count" style="text-align:center">{{techo.month}} - {{techo.year}}
            </th>
          </tr>
          <tr>
            <th>Driver Name</th>
            <th *ngFor="let techo of header">{{techo}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let techo of techoGraphData">
            <td class="cursorname fixed-side">{{techo.name}}</td>
            <td *ngFor="let techo1 of techo.data">
              <div class="circle green" *ngIf="techo1.colorcode=='green'" (click)="downloadFile(techo1.name)"></div>
              <div class="circle red" *ngIf="techo1.colorcode=='red'"></div>
              <div class="circle gray" *ngIf="techo1.colorcode=='gray'"></div>
              <div class="circle blue" *ngIf="techo1.colorcode=='blue'"></div>
              <div class="circle yellow" *ngIf="techo1.colorcode=='yellow'"></div>
              <div class="circle orange" *ngIf="techo1.colorcode=='nocolor'"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </span> -->


<div *ngIf="showPage">
  <table>
    <thead style="background-color: #00beee"  border="1">
      <tr>
        <th border="1"> </th>
        <th *ngFor="let techo of header1Rev" [attr.colspan]="techo.count" style="text-align:center" border="1">{{techo.month}} - {{techo.year}}
        </th>
        <th>  SERIE DI "X" </th>

      </tr>
      <tr>
        <th style="z-index: 8;" class="fixed">Vehicles</th>
        <th *ngFor="let techo of headerRev">{{techo}}</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let techo of techoGraphData; let i = index">
        <td class="cursorname fixed" (click)="openModal($event, 'Hello Modal', techo)">{{techo.name}}</td>
        <td *ngFor="let techo1 of techo.data">
          <!-- <ng-container *ngIf="checkName(techo1.name,i)"></ng-container> -->
          <!-- {{techo1.colorcode}} -->
          <div class="green" *ngIf="techo1.colorcode=='green'" (click)="downloadFile(techo1.id,techo1.name)"></div>
          <!-- <img src="../../../assets/grey_2.svg" alt="" *ngIf="(techo1.colorcode == 'green' || techo1.colorcode == 'nocolor') && !countForInitialFile" width="20"> -->
          <!-- <div class=" red" *ngIf="techo1.colorcode=='red'"></div> -->
          <img src="../../../assets/red_1.svg" alt="" *ngIf="techo1.colorcode=='red'" width="20">
          <!-- <div class=" gray" *ngIf="techo1.colorcode=='gray'"></div> -->
          <img src="../../../assets/grey_2.svg" alt="" *ngIf="techo1.colorcode=='gray'" width="20">
          <!-- <div class="dummy" *ngIf="enableDownloadFor_dd(techo1.name)" (click)="downloadFile(techo1.id,techo1.name)"></div> -->
          
          <div class=" blue" *ngIf="techo1.colorcode=='blue'"></div>
          <!-- <div class=" yellow" *ngIf="techo1.colorcode=='yellow'"></div> -->
          <img src="../../../assets/yellow_2.svg" alt="" *ngIf="techo1.colorcode=='yellow'" width="20">

          <div class=" orange" *ngIf="techo1.colorcode=='nocolor'"></div>
        </td>
        <td class="error-count" style="font-size: 13px;">{{techo.errorCount}} 
          <input class="focus" appAutoFocusDirective  type="text">
        </td>

      </tr>
    </tbody>
  </table>
</div> 




</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->